.aboutMeContainer {
  height: min(100dvh, 770px);

  @media (width < 576px) {
    height: fit-content;
  }
}

.aboutMe {
  max-width: 650px;

  & p {
    font-size: 21px;

    & span {
      padding-inline: 0.2rem;
      font-family: 'NorthblueRegular';
      color: var(--secondary-color);
      line-height: 1;
      font-size: 32px;

      &:last-child {
        font-size: 36px;
        padding-right: 0.8rem;
      }
    }
  }

  @media (width < 576px) {
    max-width: 500px;
  }
}
