:root {
  --primary-color: #506e86;
  --primary-color-dark: #263440;

  --secondary-color: #fcb040;

  --accent-color: #00ffff;

  --neutral-color: #e6e6e6;
  --neutral-color-dark: #2e2e2e;

  --secondary-font: 'NorthblueRegular';

  --border-radius-button: 12px;
  --border-radius-box: 16px;
  --border-radius-tag: 48px;

  --inter-font-thin: 100;
  --inter-font-regular: 400;
  --inter-font-medium: 500;
  --inter-font-semi-bold: 600;
  --inter-font-bold: 700;
  --inter-font-extra-bold: 800;
  --inter-font-black: 900;

  --inter-font-semi-bold-italic: 600;

  --break-point-tablet: 770px;
  --break-point-phone: 420px;
}

@font-face {
  font-family: 'NorthblueRegular';
  src: url('/src/assets/fonts/NorthblueRegular.ttf') format('truetype');
}
