.workProjectsContainer {
  @media (width < 576px) {
    width: 350px;
    height: 1350px;
  }
}

.projectsMain {
  min-height: 550px;
  flex-direction: column;
  justify-content: space-around;

  @media (width < 576px) {
    justify-content: center;
    min-height: 900px;
    padding-bottom: 3rem;
  }
}

.projectsDivider {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 3rem;

  & h4 {
    color: var(--neutral-color);
    font-size: 28px;
    font-weight: 300;
    line-height: 0.5;
    z-index: 1;
    padding-inline: 3rem;
    background-color: var(--primary-color-dark);
  }

  @media (width < 576px) {
    padding-bottom: 2rem;
  }
}

.divider {
  width: 100%;
  position: absolute;
  top: 90px;

  border: 1px solid var(--neutral-color);
  opacity: 0.8;

  @media (width < 576px) {
    display: none;
  }
}
