.contactContainer {
  justify-content: flex-start;
  padding-block: 4rem;
  width: 100dvw;
  height: 100vh;

  background-color: white;
}

.contactStyle {
  display: flex;
  justify-content: end;
  width: min(90dvw, 1200px);
}

.contactContent {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 90%;
}

.contactTitle {
  font-size: 68px;
  color: var(--primary-color-dark);
  font-weight: var(--inter-font-black);
  line-height: 1;
  text-align: end;
  margin: 0;
  padding-block: 4rem;
  letter-spacing: 1.2px;
  max-width: 750px;

  @media (width < 770px) {
    padding-block: 4rem;
    font-size: 56px;
    line-height: 1.2;
    max-width: 480px;
  }

  @media (width < 576px) {
    font-size: 28px;
    letter-spacing: 1px;
    max-width: 280px;
  }
}

.contactLinks {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;

  & a {
    font-weight: var(--inter-font-bold);
    font-size: 40px;
    text-decoration: underline;
    letter-spacing: 2px;

    transition: color 0.5s ease;

    &:hover {
      color: var(--primary-color);
      & img {
        opacity: 0.65;
        filter: saturate(3);
        transform: scale(1.1);
        transition: all 0.5s ease;
      }
    }
    @media (width < 770px) {
      font-size: 32px;
      padding-bottom: 0.8rem;
    }

    @media (width < 576px) {
      font-size: 24px;
    }

    @media (width < 576px) {
      letter-spacing: 0.09rem;
      font-size: 18px;
      padding-bottom: 0.5rem;
    }
  }

  & img {
    padding-left: 2rem;
    height: 32px;
    transform: translateY(3px);

    @media (width < 770px) {
      height: 28px;
    }

    @media (width < 576px) {
      padding-left: 1rem;
      transform: translateY(8px);
      height: 24px;
    }
  }
}

.contactImg {
  transition: transform 0.5s ease;
}

.contactDescription {
  color: var(--primary-color-dark);
  font-size: 22px;
  font-weight: var(--inter-font-medium);
  text-align: end;

  max-width: 770px;

  padding-block: 3rem;

  @media (width < 770px) {
    font-size: 24px;
    line-height: 1.6;

    max-width: 550px;
    padding-block: 2rem;
  }
  @media (width < 576px) {
    font-size: 22px;
    line-height: 1.7;

    max-width: 300px;
    padding-block: 1rem;
  }
}
