.contactContainer {
  justify-content: flex-start;
  padding-top: 4rem;
  width: 100dvw;
  height: 100vh;
  z-index: 10;

  background-color: white;
}

.contactContent {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 90%;
}

.contactTitle {
  font-size: 68px;
  color: var(--primary-color-dark);
  font-weight: var(--inter-font-black);
  line-height: 1;
  text-align: end;
  margin: 0;
  padding-block: 4rem;
  letter-spacing: 1.2px;
  max-width: 750px;

  @media (width < 770px) {
    padding-block: 4rem;
    font-size: 56px;
    line-height: 1.2;
    max-width: 480px;
  }

  @media (width < 576px) {
    font-size: 28px;
    letter-spacing: 1px;
    max-width: 280px;
  }
}

.contactLinks {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;

  & a {
    font-weight: var(--inter-font-bold);
    font-size: 40px;
    text-decoration: underline;
    letter-spacing: 2px;

    transition: color 0.5s ease;

    &:hover {
      color: var(--primary-color);
      & img {
        opacity: 0.65;
        filter: saturate(3);
        transform: scale(1.1);
        transition: all 0.5s ease;
      }
    }
    @media (width < 770px) {
      font-size: 32px;
      padding-bottom: 0.8rem;
    }

    @media (width < 576px) {
      font-size: 24px;
    }

    @media (width < 576px) {
      letter-spacing: 0.09rem;
      font-size: 18px;
      padding-bottom: 0.5rem;
    }
  }

  & img {
    padding-left: 2rem;
    height: 32px;
    transform: translateY(3px);

    @media (width < 770px) {
      height: 28px;
    }

    @media (width < 576px) {
      padding-left: 1rem;
      transform: translateY(8px);
      height: 24px;
    }
  }
}

.contactImg {
  transition: transform 0.5s ease;
}

.contactDescription {
  color: var(--primary-color-dark);
  font-size: 22px;
  font-weight: var(--inter-font-medium);
  text-align: end;

  max-width: 770px;

  padding-block: 3rem;

  @media (width < 770px) {
    font-size: 24px;
    line-height: 1.6;

    max-width: 550px;
    padding-block: 2rem;
  }

  @media (width < 576px) {
    font-size: 22px;
    line-height: 1.7;

    max-width: 300px;
    padding-block: 1rem;
  }
}

.contactStyle {
  width: min(100%, 1200px);
}

.footerStyle {
  width: 100%;
  height: 100%;

  padding-block: 2rem;

  background-color: var(--primary-color-dark);
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: var(--inter-font-bold);

  color: var(--primary-color);
}

.goUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 1rem;
  margin-bottom: 1rem;
  overflow: hidden;

  height: 80px;

  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius-box);

  font-size: 20px;
  font-weight: var(--inter-font-semi-bold);
  color: var(--accent-color);
  cursor: pointer;

  transition: all 0.5s ease;

  & span {
    transition: all 0.5s ease;
  }

  & img {
    width: 100%;
    transition: all 0.5s ease;
  }
}

.homeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & span:nth-child(2) {
    transform: translateY(-150px);
  }
  & span:nth-child(3) {
    transform: translateY(-130px);
  }
}

.goUp:hover .goUpLine {
  opacity: 1;
  transform: translateY(15px);
}

.goUp:hover span:nth-child(3) {
  transition: all 0.8s ease;
  transform: translateY(-20px);
  font-size: 32px;
}
.goUp:hover span:nth-child(2) {
  transition: all 0.8s ease;
  transform: translateY(-55px);
  font-size: 32px;
}
.goUp:hover span:nth-child(1) {
  transition: all 0.8s ease;
  transform: translateY(80px);
  opacity: 0;
}

.goUp:hover img {
  transition: transform 0.8s ease, opacity 0.8s ease 0.3s;
  transform: translateY(-60px);
  opacity: 0;
}

.goUpLine {
  width: 100%;

  background-color: var(--accent-color);
  transform: translateY(-100px);
  opacity: 0;
  border-radius: 4px;
  border: 3px solid var(--accent-color);

  transition: all 0.8s ease-out;
}

.divider {
  width: 10%;
  height: 2px;
  background-color: var(--primary-color);
}
