.tag {
  text-align: center;
  padding: 0.5rem 1rem;
  margin-inline: 0.4rem;
  border-radius: var(--border-radius-tag);
  font-weight: var(--inter-font-bold);
  color: white;

  width: 170px;
  font-size: 20px;

  @media (width < 576px) {
    margin: 0.2rem;
  }

  &.primary {
    background-color: transparent;
    border: 3px solid var(--primary-color);
    font-weight: var(--inter-font-semi-bold);
    font-size: 16px;
  }

  &.primaryDark {
    background-color: var(--primary-color-dark);
  }

  &.primaryBorder {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color-dark);
  }

  &.secondary {
    color: var(--primary-color-dark);
    background-color: var(--secondary-color);
    font-weight: var(--inter-font-bold);
    font-size: 16px;
  }

  &.outlined {
    font-weight: var(--inter-font-black);
    color: var(--primary-color-dark);
    border: 3px solid var(--primary-color-dark);
    background-color: transparent;
  }
}
