.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.modal {
  position: relative;

  font-size: 14px;
  font-weight: var(--inter-font-semi-thin);
  line-height: 1.8;

  background: var(--primary-color-dark);
  border-radius: var(--border-radius-box);

  padding: 6rem;
  padding-block: 4rem 3rem;
  width: min(90%, 1200px);
  max-height: 90dvh;
  overflow: auto;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  transition: all 0.5s ease;
  animation: scaleUp 0.8s ease;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.imageBg {
  background-image: url('src/assets/images/shapeBG-opacity12.svg');
  background-repeat: no-repeat;
  background-size: contain;
  
}

.closeButton {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.content {
  margin-block: 0rem 2rem;

  & p {
    margin: 0;
    padding-block: 1rem;
    font-size: 15px;
    font-weight: var(--inter-font-semi-thin);
    line-height: 1.7;
  }
}

.lineBreak {
  display: flex;
  height: 8px;
}

.styledParagraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 1rem;

  gap: 2rem;
}

.outlinedParagraph {
  width: 100%;
  padding-inline: 2rem;
  padding-block: 0.5rem;

  border: 1px solid var(--neutral-color);
  border-radius: var(--border-radius-box);
}

.reverseParagraph {
  flex-direction: row-reverse;
}

.imageClass0 {
  max-height: 170px;
}
.imageClass1 {
  max-height: 250px;
}
.imageClass2 {
  max-height: 270px;
}

.closingQuote {
  padding-block: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.secondaryText {
  word-spacing: -3px;
  padding-inline: 0.8rem;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 0.8;

  @media (width < 576px) {
    line-height: 1.1;
  }
}

.closeButtonContainer {
  display: flex;
  justify-content: center;
  padding-block: 2rem 1rem;
}
