.outlineHeight {
  height: 430px;
  transition: all 0.5s ease;

  @media (width <770px) {
    height: 490px;
  }

  &.studies {
    height: 538px;

    @media (width < 770px) {
      height: fit-content;
    }
  }

  @media (width <576px) {
    height: max-content;
  }
}

.animateDescription {
  position: absolute;
  transform: translateX(-30px) scale(0);
}

.animateTechStack {
  position: absolute;
  transform: translateY(-100px) scale(0);
}

.displayNone {
  display: none;
}

.projectsNumberBgAnimation {
  animation: numberTranslation 0.5s ease forwards;
}
@keyframes numberTranslation {
  0% {
    color: var(--neutral-color);
    transform: translate(-160px, 90px);
  }
  100% {
    color: var(--primary-color);
    transform: translate(0px, 0px);
  }
}

.projectsNumberBgAnimationDark {
  animation: numberTranslationDark 0.5s ease forwards;
}
@keyframes numberTranslationDark {
  0% {
    transform: translate(-160px, 90px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.animateWorkIllustration {
  position: absolute;
  transform: translate(62%, -5%) scale(0.7);
  transition: all 0.5s ease;

  @media (width < 770px) {
    transform: translate(45%, -5%) scale(0.7);
  }
}

.animateStudiesIllustration {
  position: absolute;
  transform: translate(78%, -8%) scale(0.85);
  transition: all 0.5s ease;

  @media (width < 770px) {
    transform: translate(55%, -28%) scale(0.55);
  }
}
