.projectsFrameContainer {
  position: relative;
  border-radius: 32px;
  padding: 1rem;
  width: 800px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: all 1s ease;

  &.frameWhite {
    border: 2px solid var(--neutral-color);
  }

  &.frameDark {
    border: none;
    background-color: var(--secondary-color);
  }

  @media (width < 770px) {
    width: 600px;
  }

  @media (width < 576px) {
    width: 290px;
    height: fit-content;
    flex-direction: column;
    max-width: max-content;
  }
}

.descriptionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding-left: 1rem;
  height: 100%;
  transition: all 0.5s ease;
}

.bgFrameTitle {
  font-size: 56px;
  font-weight: var(--inter-font-black);
  color: var(--primary-color);
  opacity: 0.5;

  @media (width < 576px) {
    font-size: 32px;
  }

  &.dark {
    color: var(--primary-color-dark);
    opacity: 0.15;
  }
}

.bgFrameChar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-15%, -30%);
  font-family: 'NorthblueRegular';
  font-size: 196px;
  color: var(--neutral-color-dark);
  opacity: 0.08;

  &.dark {
    color: var(--primary-color-dark);
    opacity: 0.06;
  }
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.dark {
    align-items: flex-start;
  }

  @media (width < 576px) {
    transform: translate(-20px, 20px);
  }
}

.descriptionList {
  padding-right: 1rem;
  padding-bottom: 1rem;

  @media (width < 576px) {
    padding-right: 0rem;
    padding-block: 0.5rem;
  }
}

.descriptionText {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: var(--inter-font-bold);
  list-style-type: none;
  text-align: right;
}

.studies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;

  color: var(--primary-color-dark);
  font-size: 48px;
  font-weight: var(--inter-font-black);
  line-height: 1;

  @media (width < 770px) {
    font-size: 36px;
    line-height: 1;
    padding-block: 2rem 1.5rem;
  }

  @media (width < 576px) {
    font-size: 32px;
    line-height: 1;
    padding-block: 2rem 1.5rem;
  }
}

.buttonPadding {
  padding-top: 2rem;
  z-index: 1;
}

.reverseProjectDisplay {
  display: flex;
  flex-direction: row-reverse;
}

.numberBg {
  min-width: 100px;
  padding-left: 1.5rem;

  font-size: 56px;
  font-weight: var(--inter-font-black);

  text-align: center;
  line-height: 1;
  color: var(--primary-color);

  &.dark {
    color: var(--primary-color-dark);
  }

  @media (width < 576px) {
    display: none;
  }
}

.projectBlueBg {
  position: relative;
  border: 3px solid var(--primary-color);
  border-radius: calc(3px + var(--border-radius-box));
  background-color: var(--primary-color);

  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.02);

    & a:not(.noLink) {
      display: block;
    }
  }
}

.noLink {
  display: none;
  pointer-events: none;
  cursor: default;
}

.toViewContainer {
  display: none;

  &:hover {
    cursor: pointer;
  }
}

.projectWhiteBg {
  background-color: var(--neutral-color);
  border-radius: var(--border-radius-box);

  width: 100%;
  height: 100%;
}

.projectDescription {
  padding: 1rem;
  width: 50%;

  font-weight: var(--inter-font-medium);

  & h4 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: var(--inter-font-black);
    line-height: 1;
  }

  & p {
    margin-block: 0.7rem;
    line-height: 1.3;

    &:last-child {
      margin-bottom: 0.5rem;
    }
  }

  @media (width < 576px) {
    width: 100%;
  }
}

.noImages {
  width: 94%;
  padding-right: 0.5rem;
}

.projectImages {
  width: 80%;
  height: 100%;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 8px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0);

    border-radius: var(--border-radius-box);

    animation: scaleUp 0.5s ease forwards 0.8s;
  }

  @media (width < 576px) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    width: 100%;
  }
}

.contentProject {
  display: flex;
  align-items: center;

  width: 100%;

  @media (width < 576px) {
    flex-direction: column;
    max-width: max-content;
    min-height: fit-content;
  }
}

.projectWhiteShape {
  border-radius: var(--border-radius-box);
  background-color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem 0rem;

  clip-path: path(
    'M 0 95 L 0 1000 L 1000 1000 L 1000 0 L 48 0 Q 36 0 35 15 Q 36 37 10 35 Q 0 35 0 50 Z'
  );

  @media (width < 576px) {
    padding: 0rem;
    margin: 0;
    clip-path: none;
  }
}

.flipHorizontal {
  transform: scaleX(-1);
}

.projectsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  transform: scale(0);

  animation: scaleUp 0.5s ease forwards 0.5s;
}

.projectsOutlineShape {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
  pointer-events: none;

  width: calc(100% - 130px);
  height: calc(100% - 32px);

  border: 1px solid #fff;
  border-radius: 20px;

  @media (width < 770px) {
  }

  @media (width < 576px) {
    display: none;
  }

  transform: scale(0);
  animation: scaleUp 0.5s ease forwards 0.2s;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.techStackContainer {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(20%, 38%) scale(1);
  transition: all 0.5s ease;

  @media (width < 770px) {
    transform: translate(10%, 35%);
  }

  @media (width < 576px) {
    transform: translate(15%, 10%);
    position: relative;
  }
}

.techStackNumber {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-55%, -35%);
  font-size: 58px;
  font-weight: var(--inter-font-black);
  color: var(--neutral-color);

  &.dark {
    color: var(--primary-color-dark);
  }
}

.techStackOutlineShape {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-4%, -2.5%);
  z-index: 1;

  width: 265px;
  height: 342px;

  border: 1px solid var(--neutral-color);
  border-radius: 24px;

  @media (width < 576px) {
    height: 105%;
  }
}

.techStackBlueBg {
  width: 265px;
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 24px;
}

.techStackWhiteShape {
  border-radius: 24px;
  background-color: white;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: path(
    'M 0 95 L 0 345 L 300 345 L 300 0 L 62 0 Q 46 0 45 20 Q 45 40 20 40 Q 0 40 0 70 Z'
  );

  @media (width < 576px) {
    clip-path: path(
      'M 0 95 L 0 410 L 300 410 L 300 0 L 90 0 Q 56 0 55 30 Q 55 65 25 70 Q 0 75 0 100 Z'
    );
  }
}

.techStackTitle {
  display: flex;
  flex-direction: column;
  width: 140px;

  color: var(--primary-color-dark);
  font-weight: var(--inter-font-black);
  font-size: 32px;
  line-height: 0.9;
  padding-block: 1rem;

  > :first-child {
    text-align: start;
    padding-right: 2rem;
  }

  > :last-child {
    text-align: end;
    color: var(--primary-color);
  }
}

.ulGap {
  margin: 0;
  padding: 0;
  > li {
    list-style-type: none;
    padding-block: 0.3rem;
  }
}

.workIllust {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -10%);
  scale: 0.9;

  pointer-events: none;

  & img {
    width: 53%;
  }

  transition: all 0.5s ease;

  @media (height > 1200px) {
    transform: translate(5%, 38%);

    & img {
      width: 100%;
    }
  }

  @media (width < 770px) {
    scale: 1.5;
    transform: translate(29%, 62%);
  }

  @media (width < 576px) {
    display: none;
  }
}

.studiesFrameContainer {
  height: 600px;

  @media (width < 770px) {
    height: 550px;
  }

  transition: all 0.5s ease;
}

.studiesIllust {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -2%);

  pointer-events: none;

  & img {
    width: 48%;
  }

  transition: all 0.5s ease;

  @media (height > 1200px) {
    transform: translate(10%, 15%);

    & img {
      width: 100%;
    }
  }

  @media (width < 770px) {
    scale: 1.5;
    transform: translate(29%, 55%);
  }

  @media (width < 576px) {
    display: none;
  }
}

.line {
  width: 150%;
  height: 6px;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 6rem;

  background-color: var(--neutral-color-dark);
  opacity: 0.1;

  & :first-child {
    width: 100%;
    margin-top: 0.8rem;
    margin-left: 3rem;
    opacity: 1;
  }

  @media (width < 770px) {
    margin-left: 0;
  }

  @media (width < 576px) {
    display: none;
  }
}
