.heroContainer {
  height: min(100dvh, 780px);
  margin-block: 0rem 6rem;

  @media (height < 770px) {
    height: 600px;
  }

  @media (width < 770px) {
    height: 900px;
    max-width: 650px;
  }

  @media (width < 576px) {
    height: 750px;
    max-width: 450px;
  }
}

.hero {
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column-reverse;
  max-width: 640px;

  @media (width < 576px) {
    transform: translateY(-50px);
    padding: 1rem;
  }
}

.heroInSpanish {
  max-width: 520px;
}

.addon {
  display: flex;
  justify-content: end;
  padding-bottom: 0.2rem;

  @media (width < 576px) {
    justify-content: flex-start;
    padding-top: 6rem;
  }

  & h2 {
    max-width: 96px;
    padding-block: 0.4rem;
    margin: 0;
    line-height: 1.3rem;
    font-size: 16px;
    font-weight: var(--inter-font-bold);
    transform: skewX(350deg); /* italic */

    @media (width < 576px) {
      max-width: fit-content;
    }
  }
}

.heroTitle {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;

  @media (width < 576px) {
    width: min-content;
  }

  & h1 {
    margin: 0;
    line-height: 1;
    font-size: 90px;
    font-weight: var(--inter-font-black);
  }
}

.heroTitleInSpanish {
  & .secondaryFont {
    position: absolute;
    top: 240px;
    right: 70px;
    font-size: 130px;

    @media (width < 576px) {
      position: inherit;
    }
  }

  @media (width < 576px) {
    & h1 {
      font-size: 80px;
    }
  }
}

.secondaryFont {
  font-family: 'NorthblueRegular';
  font-size: 120px;
  color: var(--secondary-color);
  line-height: 0.9;
  transform: translateX(15px);
  max-width: fit-content;
}
